{%extends "base.html"%}
 {%block body%}

    {% for post in all_posts %}

    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        {%if post.image%}
  <img src="{{post.image.url}}" class="card-img-top" alt="...">{%endif%}
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <p class="card-text">{{post.content|truncatewords:20}}</p>
    <a href="{% url 'olx:post' post.id    %}" class="btn btn-primary">know more</a>
  </div>
</div>
    </div>
    {%endfor%}
{%endblock body%}
